.InputBar {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 54px;
  font-size: 16px;
  background-color: white;
  border: 1px solid #555555;
  border-radius: 8px;
  padding: 0 8px;
  overflow: auto;

  & > span:first-child {
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    padding-top: 4px;
    height: 24px;
    color: rgba(0, 0, 0, 0.4);
    pointer-events: none;
  }
  
  input {
    height: 100%;
    border: none;

    &:focus {
      outline: none;
    }
  }
  
  .password {
    font-size: 20px;
  }

  &.focused {
    border: 1px solid #D98D33;
    outline: 1px solid #D98D33;
  }
}

