.Footer {
  height: 128px;
  background-color: #945913;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 72px 1fr;
  padding: 0 16px;
  z-index: 5;

  & > div {
    display: grid;
    grid-template-rows: 48px 24px;
    height: 84px;
    align-items: flex-start;
    justify-self: center;
    text-align: start;
  }
  
  & > div > span, & > div > a {
    padding: 6px 0;
    color: white;
  }
  
  & > div > a:first-child, & > div > span:first-child {
    align-self: flex-end;
  }
  
  & > div:first-child {
    justify-self: flex-end;
    justify-content: flex-end;
    text-align: end;
  }
  
  & > div:last-child {
    justify-self: flex-start;
    justify-content: flex-start;
  }
  
  & > div:nth-child(2) {
    grid-template-rows: auto;
  }
  
  & > svg{
    justify-self: center;
  }
}