$dashSize: 100;

.path {
  stroke-dasharray: $dashSize;
  stroke-dashoffset: $dashSize;
  animation: dash 2s ease-out forwards;
  animation-delay: 0.8s;
}

.scale {
  opacity: 0;
  animation: sizeUp 0.6s ease-out forwards;
  animation-delay: 0.06s;
}

@keyframes sizeUp {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: $dashSize;
  }
  100% {
    stroke-dashoffset: 0;
  }
}