.SortDropdown {
  --rippleColor: 217, 141, 51;
  position: relative;
  width: fit-content;
  height: fit-content;
  color: #3C3C3C;

  #sdd-control {
    display: grid;
    grid-template-columns: auto auto auto;
    width: fit-content;
    align-items: center;
  }
  
  button {
    background: var(--appBackground);
    color: #3C3C3C;
    font: 600 16px 'Nunito';
    border: 1px solid #3c3c3c;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-left: 8px;
    padding: 12px;
    height: 36px;
    cursor: pointer;
    transition: box-shadow 0.04s linear;
    box-shadow: 0 0 0 0px rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    user-select: none;
  
    &:active {
      box-shadow: 0 0 0 2px rgba(var(--rippleColor), 1);
    }
    
    
    & > span {
      display: inline-block;
      width: fit-content;
      margin-right: 8px;
    }
  }


  
  #sdd-options {
    position: absolute;
    left: 32px;
    top: 42px;
    display: grid;
    grid-auto-rows: 36px;
    align-items: center;
    justify-items: flex-end;
    background: var(--appBackground);
    border: 1px solid #3C3C3C;
    border-radius: 8px;
    z-index: 2;
    font: 600 16px 'Nunito';
    overflow: hidden;
  }
  
  .sort-opt {
    display: grid;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: start;
    white-space: nowrap;
    border-bottom: 1px solid #3C3C3C;  
    position: relative;
  }
  
  .hover-tab {
    width: 0;
    transition: width 0.2s ease;
    background-color: #3C3C3C;
    height: 36px;
    position: absolute;
    border-radius: 0 0 4px 0;
    top: 0;
  }
  
  .sort-opt:hover {
    cursor: pointer;
  }
  
  .sort-opt:hover .hover-tab {
    width: 4px;
  }
  
  #sdd-options > div:last-child {
    border-bottom: none;
  }
  
  #sdd-options > div > span {
    margin: 0 12px;
  }
}